.typing-indicator {
  width: 50px;
  height: 20px;
  background: #ffffff00; /* Transparent background */
  border-radius: 25px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.typing-indicator span {
  width: 8px;
  height: 8px;
  background-color: #6c6c6c;
  border-radius: 50%;
  display: inline-block;
  animation: blink 1.4s infinite both;
}

.typing-indicator span:nth-child(1) {
  animation-delay: 0s;
}

.typing-indicator span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% { opacity: 0.2; transform: translateY(0); }
  20% { opacity: 1; transform: translateY(-2px); }
  100% { opacity: 0.2; transform: translateY(0); }
}